/* Main Page */

#mainpage {
	background-color: #EDEDED;
	/* background-color: #2854b9; */
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
}

#homepage {
	background-image: url('../img/bg.jpg');
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	padding: 0%;
}

.homepagetext {
	text-align: center;
	color: #000;
	height: 45%;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.homepagetext h1 {
	font-size: 100px;
	font-family: 'Kano';
	letter-spacing: 4px;
	text-transform: uppercase;
}

.homepagetext h2 {
	font-size: 32px;
	font-family: 'GL';
	letter-spacing: 1px;
	padding-top: 1.5%;
}

.mainbtn{
	margin-top: 2%;
	color: #000;
	border: 2px solid;
	border-color: #000;
	text-align: center;
	width: 140px;
	height: 60px;
	border-radius: 0;
	padding: 0;
	line-height: 55px;
}

.mainbtn p {
	font-family: "Kano";
	letter-spacing: 1px;
	font-size: 25px;
}

#logolink {
	display: inline-block;
	margin-left: 60px;
	margin-top: 30px;
	font-size: 42px;
	position: fixed;
	text-align: center;
	left: 0;
	z-index: 11;
	cursor: pointer;
	color: #000;
	font-family: "Anurati";
	letter-spacing: 2px;
	text-transform: uppercase;
}

#conlink {
	margin-right: 60px;
	margin-top: 60px;
	font-size: 16px;
	position: fixed;
	text-align: center;
	right: 0;
	z-index: 11;
	cursor: pointer;
	color: #000;
	font-family: "Nevis";
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline;
}

#conlink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#conlink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#portfoliosection:hover > #conlink {
	color: #fff;
}

/* Contacts Bar */

#contactsbar {
	position: fixed;
  	top: 0;
  	right: 0;
	width: 24%;
	background-color: #000;
	height: 100%;
	margin-right: -24%;
	z-index: 12;
}

#contactsbar ul {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 1.9em;
	list-style-type: none;
	text-align: center;
	/* margin-top: 80%; */
	padding-left: 0%;
	margin-top: 80%;
}

#contactsbar li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'GL';
	letter-spacing: 1px;
	/* cursor: pointer; */
	right: 0;
	bottom: 0;
	color: #fff;
}

#close {
	width: 35px;
	height: 35px;
	margin-right: 100px;
	margin-top: 60px;
	right: 0;
	z-index: 11;
	float: right;
	color: #fff;
}

/* Social icons */

.socicons {
 	position: relative;
 	display: inline-block;
 	width: auto;
 	padding-right: 2%;
 }

.socicons img {
 	transition: .35s opacity ease-in-out;
 	width: 40px;
 	height: 40px;
 }

 img[class*="fbb"], img[class*="ldb"], img[class*="ghb"], img[class*="vkw"] {
  position: absolute;
  left: 0;
  top: 0;
}

 img.fbw, .fb:hover img.fbb, img.ldw, .ld:hover img.ldb, img.ghw, .gh:hover img.ghb, img.vkb, .vk:hover img.vkw {
 	opacity: 1;
	/* z-index: 1; */
}

.fb:hover img.fbw, img.fbb, .ld:hover img.ldw, img.ldb, .gh:hover img.ghw, img.ghb, .vk:hover img.vkb, img.vkw {
 opacity: 0;
 /* z-index: -1; */
}

img.fbw, .fb:hover img.fbb, img.ldw, .fb:hover img.ldb, img.ghw, .fb:hover img.ghb, img.vkb, .vk:hover img.vkw {
  cursor: pointer;
}

/* Portfolio section */

#portfoliosection {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	height: auto;
	background-image: url('../img/grid.png');
	overflow: auto;
}

.portfolioitem, .portfolioitem * {
	box-sizing: border-box;
}

.portfolioitem {
	padding: 0%;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolioitem, .right {
	box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.top {
	margin-top: 4%;
}

.left {
}

.portfolioimg {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.portfolioitem:hover .overlay {
	opacity: 1;
}

.description {
	text-align: center;
	font-size: 24px;
	font-family: "Nexa";
	letter-spacing: 3px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Footer */

#footerprint {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "GL";
	letter-spacing: 1px;
	color: #545454;
	text-align: center !important;
	overflow: auto;
	font-size: 16px;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #EDEDED;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #2e2e2e;
}


/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Media settings */

/* Laptops */

@media(max-width:1200px) {

#homepage {
	padding-top: 13%;
}

#contactsbar {
		width: 32%;
		margin-right: -32%;
	}

#contactsbar ul {
		margin-top: 60%;
		font-size: 1.9em;
}

#logolink {
	margin-right: 60px;
	margin-top: 40px;
	font-size: 35px;
}


#conlink {
	margin-right: 60px;
	margin-top: 60px;
	font-size: 14px;
}

}

/* Mobiles */

@media(max-width:750px) {

.homepagetext {
	margin-top: 40%;
}


.homepagetext h1 {
	font-size: 50px;
	font-family: 'Kano';
	letter-spacing: 3px;
}

.homepagetext h2 {
	font-size: 32px;
}

#logolink {
	margin-left: 30px;
	margin-top: 40px;
	font-size: 35px;
}

#conlink {
	margin-right: 30px;
	margin-top: 60px;
	font-size: 14px;
}

#close {
	margin-right: 55px;
	margin-top: 55px;
}

#contactsbar {
	width: 100%;
	margin-right: -100%;
}

#contactsbar ul {
	font-size: 1.8em;
}

.socicons {
 	padding-right: 2%;
 }

.top {
	margin-top: 0%;
}

#footerprint {
	font-size: 13px;
}


}

/* Fonts */

 @font-face {
  font-family: 'GB';
  src: url('../fonts/Gilroy-Bold.OTF');
}

 @font-face {
  font-family: 'GL';
  src: url('../fonts/Gilroy-Light.OTF');
}

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/Nevis.TTF');
}

@font-face {
  font-family: 'Kano';
  src: url('../fonts/Kano.OTF');
}

@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa Light.OTF');
}

@font-face {
  font-family: 'Anurati';
  src: url('../fonts/Anurati.OTF');
}